main.md-view {
  padding: 0 var(--side-padding);
  position: relative;
}

.md-view aside {
  position: absolute;
  left: var(--side-padding);
  top: 0;
  width: 260px;
}

.md-view aside ul {
  line-height: 1.8em;
  list-style: none;
  padding: 0;
  color: #666;
}

.md-view aside ul ul {
  padding-left: 1em;
  font-size: 13px;
}

.md-view article {
  padding-top: 2.2em;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.6em;
  color: #666;
}

.md-view article a {
  text-decoration: underline;
}

.md-view article h1 {
  margin: 1.5em 0 0.3em;
  padding: 0.5em 0 1.2em;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.md-view article h2 {
  margin: 2.5em 0 0.7em;
  padding: 0.5em 0 0.5em;
  position: relative;
  color: #333;
}

.md-view article h3 {
  margin: 2.5em 0 0.7em;
  padding: 0.5em 0 0.5em;
  position: relative;
  color: #333;
}

.md-view article img {
  margin: 1em 0;
  max-width: 100%;
}

.md-view article table {
  border-collapse: collapse;
}

.md-view article tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.md-view article td,
.md-view article th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.md-view article pre {
  padding: 1em;
  position: relative;
}

.md-view article pre,
.md-view article code {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 12px;
  -webkit-font-smoothing: initial;
}

.md-view article pre {
  border-radius: 6px;
  overflow: auto;
}

.md-view article code {
  color: #e96900;
  background-color: #f8f8f8;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}

.md-view article strong {
  color: #333;
  font-weight: bold;
}

.md-view article h1:first-child {
  margin-top: 0;
}

.md-view pre .try {
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1.25;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 0 7px;
  cursor: pointer;
  border: 0;
  color: inherit;
  transition: background-color 200ms;
  text-decoration: none;
}

.md-view pre .try:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 1280px) {
  .md-view article {
    margin-left: calc(260px + 1em);
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  .md-view .hamburger {
    position: fixed;
    top: 13px;
    right: var(--side-padding);
    width: 18px;
    height: 15px;
    z-index: 3;
    background: #000;
    display: block;
    overflow: hidden;
    cursor: pointer;
  }
  .md-view .hamburger::before,
  .md-view .hamburger::after {
    content: '';
    display: block;
    height: 3px;
    background: #fff;
    margin-top: 3px;
  }
  .md-view aside {
    transform: translateX(-200px);
    position: fixed !important;
    background: #f9f9f9;
    top: 40px;
    padding-left: var(--side-padding);
    box-sizing: border-box;
    height: 100%;
    z-index: 1;
    left: 0;
    width: 200px;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    overflow: auto;
    transition: transform 200ms ease;
  }
  .md-view.active aside {
    transform: translateX(0);
  }
  .md-view article {
    max-width: initial;
    margin: 0;
    padding: 0;
  }
  .md-view article h1:first-child {
    margin-top: 1.5em;
  }
  .md-view main {
    padding: 1em;
  }
}
